@import "./bootstrap.scss";

body {
  background-color: #f9fafb;
  color: #555;
  font-family: 'Muli', sans-serif;
}

section {
  padding: 40px 0 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

