.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 230px;
  background-color: #fff;
  box-shadow: 1px 0 10px rgba(148, 148, 148, 0.1);
}

.sidebar__link {
  color: #919bb0;
  font-size: 1.1em;
  font-weight: 400;
  transition: all .15s linear;
}
